# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Minecraft-Daemon

# Autoconf files
config.log
autom4te.cache/*
Makefile
config.status

# VS Code files
.vscode/*

# Extra test files
*.log
*.conf

# Keep the test config file to make it easier to work on (it's also an example config file)
!minecraft-deamon.conf
