[Daemon]
Verbose=true
LogFile="minecraft-daemon.log"
JavaPath="/usr/bin/java"
Port=10000
ServerDir="servers"

[Database]
Host="localhost"
Port=3306
Database="minecraft_daemon"
User="minecraft"
Password="minecraft"

[Files]
JarStore="jars"
ModStore="mods"
PluginStore="plugins"
