[Daemon]
Verbose=true
LogFile="minecraft-daemon.log"
JavaPath="/usr/bin/java"
Port=10000
ServerDir="servers"

[Database]
Database="mysql"
DatabaseHost="localhost"
DatabasePort=3306
DatabaseDatabase="minecraft_daemon"
DatabaseUser="minecraft"
DatabasePassword="minecraft"

[Files]
JarStore="jars"
ModStore="mods"
PluginStore="plugins"
